*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
textarea {
  outline: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;

  &::placeholder {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
  }
}

body{
  font-size: 14px;
  font-family: "Jost", sans-serif;
  color: #282739;
}

button {
  font-family: inherit;
}
a {
  text-decoration: none;
}
ul{
  list-style: none;
}
img{
  max-width: 100%;
}
html{
  scroll-behavior: smooth;
}

.container{
  width: 1300px;
  padding: 0px 10px;
  margin: 0 auto;
}

@media screen and (max-width:	1280px){
  .container{
    width: 1000px;
  }
}
@media screen and (max-width:	1025px){
  .container{
    width: 800px;
  }
}
@media screen and (max-width:	769px){
  .container{
    width: 600px;
  }
}
@media screen and (max-width:	601px){
  .container{
    width: 500px;
  }
}
@media screen and (max-width:	481px){
  .container{
    width: 420px;
  }
}
@media screen and (max-width:	441px){
  .container{
    width: 400px;
  }
}
@media screen and (max-width:	400px){
  .container{
    width: 370px;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 20px;
  border: 1px solid #fff {
    bottom: none;
  }
}