.processTop{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 67px;
}

.processTitle{
  max-width: 480px;
  font-size: 35px;
  line-height: 45px;
  text-transform: uppercase;
}

.processBox{
  width: 320px;
  height: 91px;
  background-color: #6F73EE;
  padding: 0 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 25px;
  border-radius: 5px;
}

.textTop{
  font-size: 12px;
  margin-bottom: 2px;
  color: #e1e1e1;
}

.textMiddle{
  font-size: 20px;
  color: #fff;
}

.textBottom{
  font-size: 12px;
  color: #fff;
}

.gallery{
  width: 97%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 2fr 3fr;
  grid-template-rows: auto;
  gap: 30px;
  margin-bottom: 100px;
}

.galleryImgBox{
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 485px;
}

.galleryImgBox img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.adressWrap{
  padding: 100px 0;
}

.adress{
  width: 97%;
  margin: 0 auto;
  background-color: #F4F7FB;
  border-radius: 10px;
  padding: 44px;
}

.adresstitle{
  font-size: 35px;
  margin-bottom: 50px;
  text-align: center;
}

.adressInner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.adressInnerItem{
  max-width: 300px;
}

.adressInnerItem h4{
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.adressBox{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 23px;
  margin-bottom: 22px;
}

.asressContent h5{
  font-size: 14px;
  margin-bottom: 2px;
  font-weight: 500;
}

.asressContent p{
  font-size: 14px;
  color: #5D6C7B;
}

.adressNum{
  font-size: 16px;
  color: #282739;
}

.adressLink{
  font-size: 12px;
  color: #6F73EE;
  display: inline-block;
  margin-top: 8px;
}